
.containerfeedback {
    max-width: 1200px; /* Increased max-width for better spacing */
    margin: 40px auto;
    padding: 20px;
}

/* Feedback Section Layout */
.feedback-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Two columns layout */
    gap: 40px;
}

.feedback-card {
    display: flex;
    align-items: center;
    background: rgb(252, 255, 221);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0.3, 0.3, 0.3, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .feedback-card:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
} */

.feedback-card img {
    width: 40%; /* Reduced width of the image */
    height: 100%;  /* Maintain image aspect ratio */
    object-fit: cover;
    
}

.feedback-card-content {
    padding: 15px;  /* Reduced padding */
    text-align: left;
    width: 70%;  /* Increased the feedback section width */
}


.stars {
    margin-bottom: 10px;
}

.stars i {
    color: gold;
    font-size: 25px;  /* Increased star size */
    margin-right: 3px;
}
.stars i::before {
    content: '\2605'; /* Unicode for star */
    color: gold;
    font-size: 25px; /* Adjust this size */
}

.feedback-card p {
    font-size: 16px;  /* Reduced the feedback text size */
    color: #555;
    line-height: 1.5;
}
/*_________feed back chart_____________*/

        /* Responsive Styles */
        @media (max-width: 700px) {
            .containerfeedback{
                max-width: 900px;
                margin: 0px;
                padding: 20px;
            }
            .stars {
                margin-bottom: 10px;
            }
            
            .stars i {
                color: gold;
                font-size: 50px;  /* Reduced star size */
                margin-right: 3px;
            }
            .feedback-card img {
                width: 40%;  /* Image width adjusted for small screens */
                height: 100%;  /* Ensure the image takes full height */
                object-fit: cover;  /* Stretch image to cover the area */
            }
        .feedback-card-content {
            width: 85%;  /* Feedback section takes more space */
        }
        .feedback-card p {
            font-size: 12px;
        }
        .feedback-card {
            
            box-shadow: 0 8px 15px rgba(0.3, 0.3, 0.3, 0.3);
            overflow: hidden;
            
        }
        .feedback-section {
            grid-template-columns: 1fr; /* 1 column layout on smaller screens */
        }
 }

