.audio-btn {
    background-color: transparent;
    color: #020202;
    font-size: 50px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    margin-right: 1%;
    margin-top: 12%;
    
  }

  .audio-btn:hover {
    color: #7a7171;
  }